// Set base properties of all components
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // Tell child elements to compute their own line-height (rather than inheriting raw number from parent)
    line-height: normal;
}

html {
    /* Setting the size of one rem, means that 1 rem will equal 10px */
    font-size: 10px;
    height: 100%;
    margin: 0px;
}

body {
    background-color: rgba($color: #464242, $alpha: 1);
    top: 0px;
}

.container {
    background-color: darkred;
}
